# Android Studio config files
.idea/
*.iml
/local.properties

# Build files and folders
.gradle/
build/
.cxx/
.externalNativeBuild/
captures/

# Temp IDE build and files
.DS_Store
*.log

# Ignore .idea
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Ignore internal folders
**/build/
**/intermediates/
**/generated/